/* CSS Variables */
:root {
	/* Color Palette  */
	--green: #dbe0c2;
	--black: #40403e;
	--grey: #707070;
	--light-grey: #bebebe;
	--white: #fffffb;
	--blue: #209fa8;
	--light-blue: #209fa82b;
	--orange: #f57c00;
	--red: #c64040;
	--yellow: #fcdb87;
	--nav-shadow: 0 0 0.5rem 0.1rem #acaca5;
	--card-shadow: 0 0 1rem 0.1rem #e6e6dc;
	--bs-primary: #dbe0c2;
	--bs-link-color: #dbe0c2;
	--bs-link-hover-color: #dbe0c2;
}

/* ========================= Override browser defaults ========================= */

/* Font */
* {
	/* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important; */
	font-family: Arial, Helvetica, sans-serif !important;
}

/* Body dimensions */
body {
	margin: 0;
	padding: 0;
	background: var(--white);
}

.btn:active {
	background-color: var(--light-grey) !important;
}

/* ========================= Landing Page Styles ========================= */

/* Landing page background */
.landing-page {
	background: var(--green);
	min-height: 100vh;
	/* border: 1px solid red; */
}

/* Landing page Greenlease logo */
.landing-page img {
	display: block;
	margin: 3rem auto 2rem auto;
	width: 4rem;
}

/* Landing page Greenlease title */
.landing-page h1 {
	color: var(--black);
	font-size: 3.5rem;
	font-weight: 500;
	margin: 0 0 3rem 0;
	text-align: center;
}

/* Landing page Login / Register titles */
.landing-page h2 {
	color: var(--grey);
	font-weight: 600;
	text-align: center;
	margin: 0 0 2rem 0;
}

/* Landing page buttons */
.landing-page .btn {
	display: block;
	margin: 2rem auto 1rem auto;
	background: var(--black);
	border-radius: 5rem;
	width: 9rem;
	font-size: 1.3rem;
}

/* Landing page forms and radio labels */
.landing-page .form-label,
.landing-page .form-check-label {
	color: var(--grey);
	font-size: 1.3rem;
}

/* Landing page form inputs */
.landing-page .form-control {
	border-radius: 5rem;
}

/* Landing page radio input*/
.landing-page .form-check-input {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
}

/* Landing page radio checked input*/
.landing-page .form-check-input:checked {
	background: var(--grey);
	border: 0.3rem solid white;
}

/* Landing page Register / Login section divider */
.divider {
	color: var(--grey);
	width: 0.1rem;
	height: 100%;
	background: var(--grey);
	margin: auto;
}

/* ========================= Modals Styles ========================= */
.error-modal .modal-header {
	background: var(--red);
	color: var(--white);
}

.property-modal .modal-header {
	background: var(--green);
	color: var(--black);
}

.property-modal h5 {
	color: var(--black);
	display: inline-block;
}

.property-modal .dynamic-field {
	color: var(--black);
	display: inline-block;
	background: white;
	box-shadow: var(--card-shadow);
	margin: 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.property-modal .MuiRating-root {
	font-size: 1.5rem;
	margin: 0;
}

.property-modal .carousel {
	margin: 0.5rem 0;
	height: 20rem;
	background-color: whitesmoke;
}

.property-modal img {
	display: block;
	margin: auto;
	max-height: 20rem;
}

.listing-modal .modal-header {
	background: var(--green);
	color: var(--black);
}

.listing-modal .carousel {
	height: 20rem;
	background-color: whitesmoke;
}

.listing-modal img {
	display: block;
	margin: auto;
	height: 20rem;
}

.listing-modal .map {
	display: block;
	margin: auto;
	width: 35rem;
	height: 20rem;
}

.listing-modal .landlord-details {
	margin-top: 1rem;
	display: block;
}

.listing-modal .info {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.listing-modal .contact {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.listing-modal .MuiSvgIcon-root {
	font-size: 3rem;
}

.listing-modal .MuiRating-root * {
	font-size: 1rem;
}

.model-body,
.modal-footer {
	background: var(--white);
}

.modal .btn {
	color: var(--white);
	border: 0;
	border-radius: 5rem;
	width: 7rem;
	font-size: 1rem;
	font-weight: 100;
}

.modal .btn:hover {
	background: var(--light-grey);
}

.modal .close-btn {
	background: var(--grey);
}

.modal .add-btn {
	background: var(--blue);
}

.modal .delete-btn {
	background: var(--red);
}

.modal h1 {
	font-size: 1.5rem;
}

.modal h2 {
	font-size: 1rem;
}

.add-modal .modal-header {
	background: var(--blue);
	color: var(--white);
}

.add-modal .form-group {
	margin-bottom: 2rem;
	display: block;
}

.add-modal .form-label {
	color: var(--black);
	margin-right: 1rem;
}

.add-modal .form-control {
	color: var(--black);
}

.add-modal .form-text {
	color: var(--light-grey);
	margin: none;
	display: block;
}

.add-modal .form-select {
	color: var(--black);
	margin: 0;
	width: 7rem;
	display: inline;
}

.add-modal .form-check-label {
	font-size: 0.8rem;
	color: var(--black);
}

.add-modal .form-check-input {
	font-size: 0.7rem;
	margin-top: 0.4rem;
	text-align: center;
	outline: 0.1rem solid var(--black);
	border: none;
}

.add-modal .form-check-input:checked {
	border: 0.1rem solid var(--white);
	background: var(--black);
}

.add-modal .image-input input[type="file"] {
	display: none;
}

.add-modal .image-input {
	background: var(--black);
	color: var(--white);
	padding: 0.2rem 0.6rem;
	font-size: 0.8rem;
	border-radius: 3rem;
}

.add-modal .image-input:hover {
	cursor: pointer;
	background: var(--light-grey);
	color: var(--white);
}

.add-modal .carousel {
	height: 15rem;
}

.add-modal img {
	display: block;
	margin: 2rem auto;
	max-width: 20rem;
	max-height: 10rem;
}

.add-modal .loading-compression {
	position: relative;
	color: var(--black);
	width: 2rem;
	height: 2rem;
	left: auto;
	top: auto;
	padding: none;
	display: block;
	margin: auto;
}

.pending-contract-modal .modal-header {
	background: var(--green);
	color: var(--black);
}

.pending-contract-modal .form-group {
	margin-bottom: 2rem;
	display: block;
}

.pending-contract-modal .form-label {
	color: var(--black);
	margin-right: 1rem;
}

.pending-contract-modal .form-control {
	color: var(--black);
}

.pending-contract-modal .form-text {
	color: var(--light-grey);
	margin: none;
	display: block;
}

.pending-contract-modal .pdf-input input[type="file"] {
	display: none;
}

.pending-contract-modal .pdf-input {
	background: var(--black);
	color: var(--white);
	padding: 0.2rem 0.6rem;
	font-size: 0.8rem;
	border-radius: 3rem;
}

.pending-contract-modal .pdf-input:hover {
	cursor: pointer;
	background: var(--light-grey);
	color: var(--white);
}

.pending-contract-modal a {
	margin-left: 1rem;
	color: var(--black);
}

.pending-contract-modal .accept-btn {
	background: var(--blue);
	color: var(--white);
}

.rate-contract-modal .modal-header {
	background: var(--yellow);
	color: var(--black);
}

.rate-contract-modal .form-group {
	margin-bottom: 2rem;
	display: block;
}

.rate-contract-modal .form-label {
	color: var(--black);
	margin-right: 1rem;
}

.rate-contract-modal .MuiRating-root {
	display: block;
	color: var(--yellow);
}

.rate-contract-modal .form-text {
	color: var(--light-grey);
	margin: none;
	display: block;
}

.rate-contract-modal .submit-btn {
	background: var(--blue);
	color: var(--white);
}

/* ========================= Navigation Bar Styles ========================= */

.navbar {
	background: var(--green);
	color: var(--black);
	box-shadow: var(--nav-shadow);
}

.navbar-brand {
	cursor: pointer;
	display: flex;
}

.navbar-brand img {
	width: 1rem;
	margin-right: 0.5rem;
}

.navbar-brand h1 {
	font-size: 1.5rem;
	margin: auto;
}

/* ========================= Content Layout Styles ========================= */

.layout {
	margin: 2rem 1rem 1rem 1rem;
}

.layout h2 {
	font-size: 1rem;
	margin: 0 0 1rem 0;
}

/* ========================= Listings Page Styles ========================= */

.search-bar {
	display: flex;
	justify-content: center;
	width: 100%;
}

.search-bar .form-control {
	max-width: 50rem;
	border-radius: 2rem 0 0 2rem;
}

.search-bar .btn {
	color: var(--white);
	background: var(--black);
	border: none;
	border-radius: 0 2rem 2rem 0;
	width: 7rem;
}

.search-bar .btn:hover {
	background: var(--grey);
}

.search-bar .btn:active {
	background: var(--black);
}

.filters {
	display: flex;
	justify-content: center;
}

.filters .btn {
	margin: 0.7rem 0.2rem 2rem 0;
	border-radius: 0.3rem;
	font-size: 0.8rem;
	border: none;
	padding: 0.3rem 0.6rem;
	height: 2rem;
}

.filters .clear.btn {
	color: var(--orange);
	background: var(--white);
	border: 0.1rem solid var(--orange);
}

.filters .off.btn,
.filters .off.dropdown .btn {
	color: var(--white);
	background: var(--grey);
}

.filters .on.btn,
.filters .on.dropdown .btn {
	color: var(--white);
	background: var(--blue);
}

.filters .btn:hover,
.filters .btn:active,
.filters .dropdown .btn:hover,
.filters .dropdown .btn:focus,
.filters .dropdown a:active {
	background: var(--blue);
}

.filters .clear.btn:hover,
.filters .clear.btn:active {
	color: var(--white);
	background-color: var(--orange);
}

/* ========================= Dashboard Styles ========================= */

/* Home page rating */
.dashboard h2 {
	margin: 0 0 1rem 0;
	color: var(--black);
}

.dashboard .rating {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dashboard .rating text {
	font-weight: 100;
	fill: var(--black);
}

/* Home page buttons */
.dashboard .btn {
	width: 5rem;
	margin: 0 auto 2rem auto;
	width: max-content;
	border: none;
	border-radius: 1rem;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.rating h2 {
	margin: 0;
}

.dashboard .accordion-button {
	color: var(--black);
	background: var(--light-blue);
}

.current-contracts.row.row-cols-auto {
	justify-content: center;
}

/* ========================= Payments Styles ========================= */

.payments .accordion-button {
	color: var(--black);
	background: var(--light-blue);
}

.payments > .row {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--black);
}

.payments .total {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 5rem;
	border-radius: 1rem;
	background-color: var(--white);
	box-shadow: var(--card-shadow);
	font-size: 2rem;
	margin: 0.5rem 0 1rem 0;
}

.payments .invoice-btn {
	width: 15rem;
	height: 3rem;
	margin-bottom: 2rem;
	color: var(--white);
	background-color: var(--blue);
	border: none;
}

.payments .invoice-btn:hover {
	background-color: var(--light-grey);
}

.payments .ATHMovilbtn {
	min-width: 1rem;
	min-height: 1rem;
	width: 15rem;
	height: 1rem;
	padding: 2rem;
	margin-bottom: 2rem;
	box-shadow: var(--card-shadow);
}

.payments .ATHMovilbtn:hover {
	background-color: var(--light-grey);
}

.payments .accordion-body {
	overflow: scroll;
}

/* ========================= Cards Styles ========================= */

.card {
	box-shadow: var(--card-shadow);
	border: none;
	border-radius: 1rem;
	margin-bottom: 2rem;
}

.card .card-title {
	margin: 0 0 0.5rem 0;
	white-space: nowrap;
	overflow: hidden;
}

.card .card-text {
	margin: 0 0 0.2rem 0;
}

.card .MuiRating-root {
	margin: 0 0 0.5rem 0;
}

.address-label {
	display: flex;
	margin: 0 0 0.5rem 0;
	font-size: 0.7rem;
	width: 13rem;
	color: var(--black);
	/* border: 1px solid red; */
	height: 2.5rem;
	overflow: visible;
}

.tags {
	display: flex;
}

.tag {
	color: var(--white);
	background: var(--blue);
	padding: 0.2rem 0.7rem 0.2rem 0.7rem;
	margin: 0 0.2rem 0 0;
	border-radius: 0.5rem;
	font-size: 0.7rem;
}

.icon {
	font-size: 0.9rem !important;
	margin: 0 0.1rem 0 0 !important;
}

/* ========================= Listing Cards Styles ========================= */

.listing-card {
	width: 20rem;
	height: 25rem;
}

.listing-card:hover {
	cursor: pointer;
}

.listing-card img {
	height: 13rem;
	border-radius: 1rem 1rem 0 0;
	margin: auto;
}

/* ========================= Property Cards Styles ========================= */

.property-card {
	width: 15rem;
	height: 20rem;
}

.property-card:hover {
	cursor: pointer;
}

.property-card img {
	height: 12rem;
	border-radius: 1rem 1rem 0 0;
	margin: auto;
}

/* ========================= Add Card Styles ========================= */

.card .add-text {
	color: var(--grey);
	font-size: 3rem;
	text-align: center;
	margin-top: 40%;
}

/* ========================= Contract Card Styles ========================= */
.pending-contract-card {
	width: 20rem;
	height: 15rem;
	margin-bottom: 2rem;
}

.pending-contract-card .card-header {
	color: var(--orange);
}

.pending-contract-card .btn {
	font-size: 0.8rem;
	margin: 0.5rem;
	width: 8rem;
}

.pending-contract-card .accept-btn {
	background-color: var(--blue);
}

.pending-contract-card .deny-btn {
	background-color: var(--grey);
}

.pending-contract-card .btn:hover {
	background-color: var(--light-grey);
}

.active-contract-card {
	width: 20rem;
	height: 26rem;
	margin-bottom: 2rem;
}

.active-contract-card .card-header {
	color: var(--blue);
}

.active-contract-card .btn:hover {
	background-color: var(--light-grey);
}

.active-contract-card .contract-btn {
	font-size: 0.8rem;
	width: 100%;
	height: 2.5rem;
	margin: 1rem 0 1rem 0;
	background-color: var(--blue);
}

.active-contract-card .rate-btn {
	font-size: 0.8rem;
	width: 100%;
	background-color: var(--yellow);
	color: var(--black);
}
/* ========================= Spinner Styles ========================= */

.spinner-border {
	position: absolute;
	left: calc(50vw - 1rem);
	top: 20rem;
	color: var(--black);
}

.loading-btn {
	position: relative;
	color: var(--white);
	width: 1rem;
	height: 1rem;
	left: auto;
	top: auto;
	padding: none;
	margin: auto;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
	/* Change Landing page divider to horizontal */
	.divider {
		height: 1px;
		width: 100%;
		margin: 3rem auto 3rem auto;
	}

	.row.row-cols-auto {
		justify-content: center;
	}

	.listing-modal img {
		display: block;
		margin: auto;
		height: 15rem;
		max-width: 20rem;
	}

	.listing-modal .map {
		display: block;
		margin: auto;
		width: 15rem;
		height: 20rem;
	}
}
